doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='https://www.gstatic.com/firebasejs/3.2.1/firebase.js')
    script(src='/firebase/connect.js')
    
  body
    block content
